/.github export-ignore
/docs export-ignore
/src export-ignore
/tests export-ignore
/bin export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.phpcs.xml export-ignore
/.wp-env.json export-ignore
/composer.lock export-ignore
/package-lock.json export-ignore
/phpunit.xml.dist export-ignore
/webpack.config.js export-ignore
